<?xml version="1.0"?>
<root>
    
<group name="Log">

	<setting name="Level">
		<type>STRING</type>
		<value>FINE</value>
	</setting>
		 	
</group>
    
<group name="screenShots">
	
	<setting name="toDoScreenShotsOnElementHighLighting">
  		<type>BOOL</type>
		<value>false</value>
	</setting>	
	
</group>

<group name="ChromeDriver">

	<setting name="folder">
		<type>STRING</type>
		<value>src/test/resources/binaries/</value>
	</setting>
		  
	<setting name="file">
		<type>STRING</type>
		<value>chromedriver.exe</value>
	</setting>		  
</group>

<group name="IEDriver">

	<setting name="folder">
		<type>STRING</type>
		<value>src/test/resources/binaries/</value>
	</setting>
		  
	<setting name="file">
		<type>STRING</type>
		<value>IEDriverServer.exe</value>
	</setting>		  
</group>

<group name="PhantomJSDriver">

	<setting name="folder">
		<type>STRING</type>
		<value>src/test/resources/binaries/</value>
	</setting>
		  
	<setting name="file">
		<type>STRING</type>
		<value>phantomjs.exe</value>
	</setting>		  
</group>

</root>